/* Reseteo y estilos generales */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sección header */
.header {
    background-color: #1F2937;
    padding: 80px 200px 1px;
    
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos */
    gap: 32px;
    margin-bottom: 60px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Espacio entre los links */
    padding: 10px; /* Añadir un poco de padding */
    margin-top: 10px; /* Ajusta el espacio con respecto al fondo */
}

.link {
    background-color: #F9FAF8; /* Comportamiento de botón */
    color: #3882F6;
    border-radius: 7px;
    padding: 20px; /* Ajusta el padding según lo necesario */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el link */
    width: fit-content; /* Ajusta el ancho al contenido */
    border: none;
    font-size: 18px;
    font-weight: 370;
    margin: 0 5px;
}

/* Sección information */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    margin-bottom: 50px;
    gap: 40px;
}

.titleinfo {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-bottom: 42px;
}

.containerinfo {
    display: flex;
    gap: 25px;
}

.containerinfo.dragonsheet{
    flex-direction: column;
}

.card.dragonsheet{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img-content {
    width: 70%; /* Mantén este porcentaje o ajusta según lo que necesites */
    height: 70%; /* Mantén este porcentaje o ajusta según lo que necesites */
    border-radius: 10px;
}

.subtext {
    width: 650px;
    text-align: center;
    color: grey;
    font-size: 22px;
    font-weight: 100;
}

/* Sección quotes */

.quotes {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotetext {
    width: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.italicquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.signquote {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}

/* Sección footer */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between; /* Cambiado para separarlos al máximo */
    align-items: center;    
    color: #F9FAF8;
    padding: 40px;
}

.footer-left a,
.footer-right a {
    color: #E5E7EB; /* Color de texto para los enlaces */
    text-decoration: none; /* Evitar subrayado */
}

.footer-left a:hover,
.footer-right a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

.slider{
    transform: rotate(270deg);
}

#attributessheet{
    display: flex;
}

#equipmentsheet{
    display: flex;
    flex-direction: column;
}

#equipmentpurchased{
    display: flex;
    flex-direction: column;
}

#homeicon {
    max-width: 30px;
    height: auto;
}

#homebtn {
    flex:none;
    padding: 15px;
}

#homemenu {
    justify-content: center;
}

.cardcontent.dragonsheet {
    border: 2px solid black;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#identifysheet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    
}

.name.dragonsheet {
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
    color: #1F2937;
    font-size: 22px;
    font-weight: 100;
}

#name {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #1F2937;
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;
    margin-right: 20px;
}

.radio.dragonsheet {
    color: #1F2937;
    font-size: 22px;
    font-weight: 100;
    display: flex;
}

.radiobtn.dragonsheet {
    margin-left: 60px;
}

/* The container */
.labelforradiobtn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .labelforradiobtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .labelforradiobtn:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .labelforradiobtn input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .labelforradiobtn input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .labelforradiobtn .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .attrcard {
    color: #1F2937;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 25px;
    margin-left: 20px;
  }

  .attrvalue{
    font-size: 24px;
    font-weight: 400;
  }

  .slidercontainer{
    margin-top: 30px;
  }

#pointscard {
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-self: center;
    justify-content:space-around;
}

.points.dragonsheet{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valuepoints.dragonsheet{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;
    align-items: flex-end;
}
  